@font-face {
  font-family: 'mina-icon'; /* Project id 3170597 */
  src: url('//at.alicdn.com/t/font_3170597_6jtbw84yb3a.woff2?t=1645006788996')
      format('woff2'),
    url('//at.alicdn.com/t/font_3170597_6jtbw84yb3a.woff?t=1645006788996')
      format('woff'),
    url('//at.alicdn.com/t/font_3170597_6jtbw84yb3a.ttf?t=1645006788996')
      format('truetype');
}

.mina-icon {
  font-family: 'mina-icon', serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mina-icon-landscape::before {
  content: '\e809';
}
.mina-icon-right-arrow::before {
  content: '\e629';
}

.mina-icon-1::before {
  content: '\e63e';
}

.mina-icon-2::before {
  content: '\e640';
}

.mina-icon-3::before {
  content: '\e63f';
}
